.MuiButtonBase-root{
    background: none;
}
#rows:hover{
cursor: pointer;
}
.dt-picker-tag{
margin-top: 17px !important;
}
.dt-picker{
    width: 180px !important;

}
.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedEnd.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 8.5px 14px !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 9px !important;
    font-size: small !important;
    
}

#arrangeDateComponents{
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-bottom: 30px;
}
#arrangeDateComponents #mg-15{
margin-right: 15px;
}