#dashboard-container {
    display: flex;
    flex-direction: row;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#formTitle{
margin-bottom: 20px;
}
#dash-viewer {
    background-color: white;
    border-radius: 10px;
    width: auto;
    margin-left: 250px;
    /* height: 42%; */
    padding: 70px;
    overflow-y: scroll;
}

#cardsHolder {
    display: flex;
    padding-bottom: 25px;
    margin-top: 40px;
}

#BacktoReports {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

#BacktoReports:hover{
    cursor: pointer;
}

#viewReports {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 10px;
}
#reviewReports {
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 10px;
}
.changeStatus{
    display: flex;
    align-items: center;
}


@media (max-width: 600px){
    #dash-viewer {
        background-color: white;
        border-radius: 0px;
        width: auto;
        /* height: 60%; */
        padding: 25px;
        /* overflow-y: scroll; */
    }

    .selectStatusInput{
        width: 100%;
    }
}

@media (max-width: 600px){
    #content-wrapper {
        display: flex;
        flex-direction: column;
      
    }
    #dash-viewer {
        background-color: white;
        border-radius: 0px;
        width: auto;
        padding: 25px;
        margin-left: 0px;
        /* height: calc(100vh - 110px); */
        overflow-x: hidden;
    }
}