.MuiButtonBase-root{
    background: none;
}
#rows:hover{
cursor: pointer;
/* background-color: #f6f9fc; */
background-color: #e76e5b15;
color: white !important;
}
.dt-picker-tag{
margin-top: 17px !important;
}
.dt-picker{
    width: 180px !important;
}
.dt-picker:hover{
    border-radius: 5px;
    /* border: 0.6px solid rgb(0, 106, 255); */
    border: 0.6px solid #e76e5b;
}

.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedEnd.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 8.5px 14px !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 9px !important;
    font-size: small !important;
}


#arrangeDateComponents{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: end;
    /* width: 400px; */
    margin-bottom: 30px;
}
#arrangeDateComponents #mg-15{
margin-right: 15px;
}
.table-cell-hover:hover {
    background-color: red; /* Change this color to what you prefer */
    cursor: pointer;
  }

.clearBtn{
    padding: 10px;
    margin-left: 15px;

  }


  @media (max-width: 600px){
    .paper{
        margin-bottom: 250px;
    }
    #arrangeDateComponents{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
        align-items: unset;
    }

    .dt-picker{
        width: 100% !important;
        font-size: larger !important;
    }
    .clearBtnContainer{
    display: flex;
    justify-content: end;
    }
    #arrangeDateComponents #mg-15 {
        margin-right: 0px;
    }
  }