.list-comments{
    width: 100% !important;
    border: 1px solid black;
    padding: 10px !important;
    border-radius: 8px;
    /* margin-right: 5% !important; */
    height: fit-content !important;
    max-height: 300px !important;
    overflow-y: auto !important;
    position: relative;
}
#initials_icon{
width: 30px;
height: 30px;
background: black;
display: flex;
justify-content: center;
align-items: center;
border-radius: 100px;
color: wheat;
font-size: small;
}

.mobileComments{
    display: none;
}
@media (max-width: 600px){
    .mobileComments{
    display: block;
}
    .list-comments{
        display: none;
    width: 92% !important;
    border: none;
    padding: 10px !important;
    border-radius: 8px;
    /* margin-right: 5% !important; */
    height: auto !important;
    max-height:fit-content !important;
    overflow-y:hidden !important;
    position: relative;
    }
    .initials{
            width: 30px !important;
            height: 30px !important;
        
    }
}