#topNav{
    width: 100%;
    height: 100px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
}
#initViewer{
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: small;
    position: absolute;
    right: 40px;
}