.selectionCards {
    width: 190px;
    height: 80px;
    border-radius: 10px;
    border: solid rgb(231, 109, 91) 1px;
    background-color: white;
    margin-right: 20px;
    text-align: center;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(231, 109, 91);;
    transition: all 0.3s ease;  /* Smooth transition for changes */
}

/* .selectionCards.active {
    width: 190px;
    height: 80px;
    border-radius: 10px;
    background-color: white;
    margin-right: 20px;
    text-align: center;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;  
    border: solid rgb(7, 156, 248) 1px; 
    color: rgb(7, 156, 248);   
} 
*/



.selectionCards:hover{
cursor: pointer;
border: solid rgb(208, 92, 74);
color:  rgb(208, 92, 74);
}


.selctionCards:hover{
cursor: pointer;
}

@media (max-width:600px){
    .selectionCards {
        width: 190px;
        height: 80px;
        border-radius: 10px;
        border: solid rgb(4, 4, 89) 1px;
        background-color: white;
        margin-right: 7px;
        text-align: center;
        font-weight: 300;
        display: flex
    ;
        justify-content: center;
        align-items: center;
        color: rgb(4, 4, 89);
        transition: all 0.3s ease;
    }
}