#selectionCards{
    width: 190px;
    height: 80px;
    border-radius: 10px;
    border: solid rgb(4, 4, 89) 1px;
    background-color: white;
    margin-right: 20px;
    text-align: center;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(4, 4, 89);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; */
}

#selectionCards:hover{
cursor: pointer;
border: solid rgb(7, 156, 248) 1px;
color: rgb(4, 4, 89);
}
#selctionCards:hover{
cursor: pointer;
}

