.selectionCards {
    width: 190px;
    height: 80px;
    border-radius: 10px;
    border: solid rgb(4, 4, 89) 1px;
    background-color: white;
    margin-right: 20px;
    text-align: center;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(4, 4, 89);
    transition: all 0.3s ease;  /* Smooth transition for changes */
}

.selectionCards.active {
    width: 190px;
    height: 80px;
    border-radius: 10px;
    background-color: white;
    margin-right: 20px;
    text-align: center;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;  /* Smooth transition for changes */
    border: solid rgb(7, 156, 248) 1px; /* Change border color when clicked */
    color: rgb(7, 156, 248);   /* Change text color when clicked */
}



.selectionCards:hover{
cursor: pointer;
border: solid rgb(7, 156, 248) 1px;
color:  rgb(7, 156, 248);
}


.selctionCards:hover{
cursor: pointer;
}

