#sidebar-container{
    height: 100vh;
    width: 250px;
    /* background-color: aqua; */
    /* border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: rgb(192, 203, 222); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar-logo{
    margin-top: 25px;
    margin-bottom: 67px;
}

#sidebar-logo #sb-logo{
    width: 150px;
}


#profile-container{
    position:absolute;
    bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logout-btn{
    width: 150px;
    font-size: small;
}
#logout-btn:hover{
cursor: pointer;
}

.navItems{
    display: flex;
    align-items: left;
    padding-left: 10px;
    flex-direction: column;
}

.navItems a{
    font-size: small;
    text-decoration: none;
    color: black;

}
.navItems a:hover{
    cursor: pointer;
    /* color: #4426B6; */
}
.navIcon{ 
    margin-right: 10px;
    width: 20px !important;
}

.issueReport{ 
    display: flex;
    align-items: center;
}
.inviteTenant{
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.signout-btn{
    width: 140px;
}


@media (max-width: 600px){
    #sidebar-container{
        height: 0vh;
        width: 0px;
        display: none;
    }
}