.back-to-reports{
    padding: 10px 25px 10px 25px;
}

#meta-header-wrapper{
    display: flex;
    width: 50%;
}

#id-container{
    display: flex;
    margin-right: 50px;
    flex-direction: column;
    text-align: left;
}
#title-container{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.ntm{
    margin-top: 0px;
}
.nmrgn{
    margin-bottom: 0px;
}
.ntm1{
    font-size: 33px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.mrgn7{
    font-weight: 300;
    margin-top:7px;
}
.meta-data{
    background-color: #f6f9fc;
    padding: 15px;
    border-radius: 4px;
}
.descriptionElement{
    font-weight: 300;
    max-width: 600px;
    word-wrap: break-word;
    white-space: normal;
    color: #575c72;
    /* margin: 0 auto; */
    /* padding: 10px; */
}

.labelname{
    color: #4e06b8;
    font-weight: 400;
}

#reportContainer{
    background-color: #f6f9fc;
    padding: 20px;
    border-radius: 7px;
    width: 50%;
}
.closeBtn{
    background: #5bb3e0 !important;
    margin-left: 20px;
}
.back{
    margin-right: 10px;
}
#controls-wrapper{
    margin-top: 7%;
}