.back-to-reports{
    padding: 10px 25px 10px 25px;
}

#meta-header-wrapper{
    display: flex;
    width: 50%;
}

#id-container{
    display: flex;
    margin-right: 50px;
    flex-direction: column;
    text-align: left;
}
#title-container{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.mobile-ntm1{
    display: none;
}

.ntm{
    margin-top: 0px;
}
.nmrgn{
    margin-bottom: 0px;
}
.ntm1{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.mrgn7{
    font-weight: 300;
    margin-top:7px;
}
.meta-data{
    background-color: #f6f9fc;
    padding: 15px;
    border-radius: 4px;
}
.descriptionElement{
    font-weight: 300;
    max-width: 600px;
    word-wrap: break-word;
    white-space: normal;
    color: #575c72;
    /* margin: 0 auto; */
    /* padding: 10px; */
}

.labelname{
    color: black;
    font-weight: 800;
    /* color: #4e06b8; */
    /* font-weight: 400; */
}

#reportContainer{
    background-color: #f6f9fc;
    padding: 20px;
    border-radius: 7px;
    width: 80%;
}
.closeBtn{
    background: #5bb3e0 !important;
    margin-left: 20px;
}
.back{
    margin-right: 10px;
}
/* #controls-wrapper{
    margin-top: 7%;
} */
.review-img{ 
    border-radius: 5px;
    width: 200px;
    height: 200px;
}
.align-content-w-img{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* .review-container-1{
    width: 40%;
} */
.review-container-1{
    width: 50%;
}

/* .review-container-2{
    width: 60%;
} */

.review-container-2 {
    /* background: whitesmoke; */
    width: 50%;
    padding: 26px 40px 40px 40px;
    border-radius: 10px;
}

.review-container-2 img{
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 500px;
}
.report-img{
    border-radius: 5px;
}
.report-img:hover{
cursor: pointer;
}

.category{
    width: 218%;
}
.notes-form{
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    height: auto;
    max-height: 218px;
    
}
.notes-section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.comment-btn{
    background: black !important;
}



.swipeVerticleIcon{

    position: absolute;
    bottom: 10px;
    z-index: 1;
    right: 10px;
    background: black;
    padding: 6px;
    border-radius: 3px;
    color: white;
    width: 18px !important;
    height: 18px !important;
    animation: easeInIcon 1.3s;
}

@keyframes easeInIcon {
    from {
        opacity: 0;
    }
    to{
        opacity: 100;
    }
    
}



.comments-holder{
    position: relative;
    width: 65%;
    display: flex;
flex-wrap: wrap;
margin-right: 5%;
}


@media (max-width: 600px){
    .comments-holder {
        position: relative;
        width: 100%;
    }
    .notes-form {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 8px;
        padding: 20px;
        width: 87%;
    }

    .notes-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .mt-ra{
        margin-top: -4px !important;
    }
    .align-content-w-img{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .review-container-2 {
        display: none;
        /* width: 100%;
        margin-top: 20px;
        padding: 0px; */
    }
    .review-container-1 {
        width: 100%;
    }
    .mobile-ntm1{
    display: block;
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 5px;   
    color: black !important; 
    }
    .ntm1-desktop{
        display: none;
    }

    #reportContainer {
        background-color: #f6f9fc;
        padding: 20px;
        border-radius: 7px;
        width: 86%;
        border: 1px solid #0000008f;
    }
    #meta-header-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #id-container {
        display: flex
    ;
        margin-right: 9px;
        flex-direction: column;
        text-align: left;
    }
    .category {
        width: fit-content;
    }
}