
.inputError{
  font-size: small;
  text-align: left;
  color: rgb(192, 5, 5);
  margin-top:5px;
}


.logo{
  width: 250px;
  /* top: 0;
  position: absolute; */
  margin-top: 5%;
}
.logo-wrapper{
  width: 100vw;
  display: flex;
  justify-content: center;
}
label{
  font-size: small;
  margin-top: 10px;
  margin-bottom:3px;
}
.App {
  text-align: center;
}
body {
  /* cursor: none; */
  color: #575c72;
  /* Correcting the background image syntax */
  /* background-image: url('./artifacts/ai-house-2.jpg'); */
  
  /* Set the background color */
  background-color: white;
  /* background-color: #eaeff5; */
  
  /* Ensure the background image covers the body */
  background-size: cover;
  
  /* Position the image to always cover the body area */
  background-position: center;
  
  /* Apply blending mode to overlay the background color with the image */
  /* background-blend-mode: overlay; */
  
  /* Ensure the background image fully covers the body */
  height: 100vh;
  margin: 0;
  
  /* Set font properties */
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  
  /* Disable any overflow from the body */
  /* overflow-y: hidden; */

}
.gcw{
  /* background: linear-gradient(to bottom, #000033, #000066); */
  background: #d6dee9ab;
  color:white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  font-family: "Merriweather Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  padding: 7px 0 7px 0;
  background: black;
  /* background: linear-gradient(to right, #4a83dd, #5bb3e0); */
  border-radius: 8px;
  color: #fff;
  font-size: small;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 0 10px 0;
  position: relative;
  overflow: hidden;
  border: 1px solid;
}

.img-btn{
  width: 170px;
  transition: all 0.3s ease;
}
.img-btn:hover{
  width: 167px;
  height: auto;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* .circle-cursor {
  position: fixed;
  width: 13px;
  height: 13px;
  border: 2px solid rgb(0, 106, 255);
  border-radius: 50%;
  pointer-events: none; 
  transform: translate(-50%, -50%);
  transition: transform 0.1s linear;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width:600px){
  .img-btn{
  width: 170px;
  transition: all 0.3s ease;
  background-color: rgb(180 82 82);
}
  body {
    /* cursor: none; */
    color: #575c72;
    /* Correcting the background image syntax */
    /* background-image: url('./artifacts/ai-house-2.jpg'); */
    
    /* Set the background color */
    background-color: white;
    /* background-color: #eaeff5; */
    
    /* Ensure the background image covers the body */
    background-size: cover;
    
    /* Position the image to always cover the body area */
    background-position: center;
    
    /* Apply blending mode to overlay the background color with the image */
    /* background-blend-mode: overlay; */
    
    /* Ensure the background image fully covers the body */
    height: 100vh;
    margin: 0;
    
    /* Set font properties */
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    
    /* Disable any overflow from the body */
    overflow-x: hidden;
  
  }
}