/* svg#landlord_house{
    margin-right: 10px;
} */
#info-container {
    width: 600px;
    text-align: center;
    margin-bottom: 10rem;
}

#logo-wrapper {
    display: flex;
    justify-content: center;
}

.signup-btn {
    width: 40%;
    background: #e76d5b !important;
}

.accountType-arrange {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;

}



.orDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vl {
    background: rgb(132, 113, 113);
    width: 70px;
    height: 1px;
    /* length of the line */
}

.or {
    color: rgb(132, 113, 113);
    margin: 10px 10px 10px 10px;
}



@media(max-width: 600px) {
    .signup-btn {
        width: 80%;
        background: #e76d5b !important;
    }

    /* .accountType-arrange {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8rem;

    }

.orDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vl {
        background: rgb(132, 113, 113);
        width: 70px;
        height: 1px;           
}
.or{
    color: rgb(132, 113, 113);
    margin: 10px 10px 10px 10px;
} */
}