.align-interact-payments {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.payment-methods-container {
    width: 100%;
    display: flex;
    padding-left: 50px;
}

.selection-container {
    width: 140px;
    height: 65px;
    display: flex;
    border-radius: 5px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    font-size: small;
    flex-direction: column;
    padding: 6px;
    border: 1px solid rgb(231, 109, 91);
    background: none !important;
}

.selection-container:hover {
    cursor: pointer;
}

.threeD-element {
    width: 300px;
    height: 250px;
}

.select-info-wrapper {
    width: 70%;
    height: fit-content;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    display: flex;
    flex-direction: row;

}

.improvement-text {
    font-size: larger;
    width: 75%;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 25px;
}

.interac-dk-selection {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.info-wrapper {
    width: 100%;
    display: flex;
}

.payment-selection-text {
    padding-left: 50px;
    color: rgb(231, 109, 91);
    margin-bottom: 10px;
}
.payment-options-container{
     display: flex; 
     width: 55%; 
     justify-content: center; 
}
    .stripe-promise{
        width:95% !important;
    }
@media (max-width: 600px) {
    .selection-container {
    width: 140px;
    height: 65px;
    display: flex;
    border-radius: 5px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0px;
    font-size: small;
    flex-direction: column;
    padding: 6px;
    border: 1px solid rgb(231, 109, 91);
    background: none !important;
}
    .stripe-promise{
        width:95% !important;
    }
    .payment-options-container{
     display: flex; 
     width: 100%; 
     justify-content: center; 
}
    .payment-methods-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-left: 0px;
    }

    .info-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .select-info-wrapper {
        width: 100%;
        height: fit-content;
        background-color: rgb(250, 250, 250);
        border-radius: 5px;
        display: flex;
        flex-direction: column;

    }

    .improvement-text {
        width: 100%;
        margin-top: 4px;
        margin-left: 0px;
        font-size: 21px;
        text-align: center;

    }

    .payment-selection-text {
        text-align: center;
        padding-left: 0px;
    }
}