.bank-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr); /* 4-column grid */
    /* grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
  gap: 20px;
  padding: 20px;
}

.bank-card {
  display: flex;
  height: 57px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.bank-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.bank-logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 10px;
}

.bank-name {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}
